html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* #root, .App, .noir-image-container { */
/*   background: #004040;               */
/*   width: 100%;                       */
/*   height: 100%;                      */
/* }                                    */

#noir-image {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.menu-switch {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 10px;
  font-size: 10em;
  color: white;
  background-color: blue;
  z-index: 1000;
  opacity: 0;
}

.menu-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  font-size: 10em;
  color: white;
  background-color: blue;
}

.edge-button:not(:hover) {
  opacity: 0;
}

.edge-button:hover {
  transition: opacity 0.5s ease-in;

  animation-name: edge-button-animation;
  animation-duration: 2s;
  opacity: 0.0;
}

@keyframes edge-button-animation {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.0;
    }
}

.extend-on-hover:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noir-no-cursor {
  cursor: none;
}
